.transitionEffect {
  animation: transitionEffect 2s infinite ease-in-out;
}
@keyframes transitionEffect {
  0% {background-color: black; color: black;}
  90% {background-color: white; color: white;}
  100% {background-color: black; color: black;}
}
input {
  border: none;
   border-bottom: solid 1px white;
   width: 100%;
   background-color: rgba(0, 0, 0, 0);
   margin-bottom: 1em;
}
input:focus{
  outline: none;
}
