<div *ngIf="showQuestions != true">
  <h3>You become aware. You can't recognize where you are. A voice echoes inside your head, persistent questions.</h3>
  <span (click)="showQuestions = true" class="continue">continue</span>
</div>

<ul>
  <div *ngIf="showQuestions">
    <div *ngFor="let question of questions">
      <div *ngIf="question.id === questionIncrementer">
        <li id="{{question.id}}"><h3>{{question.question}}</h3>
          <ul class="answers">
            <li (click)="addStr(player); nextQuestion(questionIncrementer)">{{question.answers[0]}}</li>
            <li (click)="addInt(player); nextQuestion(questionIncrementer)">{{question.answers[1]}}</li>
            <li (click)="addChar(player); nextQuestion(questionIncrementer)">{{question.answers[2]}}</li>
          </ul>
        </li>
      </div>
    </div>
  </div>
</ul>

<div *ngIf="questionIncrementer > questions.length">
  <h3>Are you ready to wake up?</h3>
  <span class="continue" (click)="yesQues(player)" >Yes</span><br>
  <span class="continue" (click)="noQues(player)" >No</span>
</div>
