* {
  color: white;
}
ul {
  list-style: none;
}
li {
  cursor: pointer;
}
ul.answers li:hover {
  color: yellow;
}
ul.answers {
  padding: 0;
}
ul.answers li {
  margin: 0.5em 0;
}
.continue {
  cursor: pointer;
}
.continue:hover {
  color: yellow;
}
