
<div class="animation-container {{transitionEffect? 'transitionEffect' : ''}}">

  <div *ngIf="enterIntro != true">
    <h2>Adventure Game</h2>
    <h4 class="user-action" (click)="enterIntro=true">Start New Game</h4>
    <h4 class="user-action" (click)="returning = !returning">Continue Game</h4>
    <div *ngIf="returning">
      <input #resume placeholder="Enter Your Continue Code">
      <span class="user-action" (click)="collectId(resume.value)">Submit</span>
      <h4>{{userCodeError}}</h4>
    </div>
  </div>

  <div *ngIf="enterIntro === true">
    <div *ngIf="showQuestions != true">
      <h3>You become aware. You can't recognize where you are. A voice echoes inside your head, persistent questions.</h3>
      <input #characterName placeholder="Your name">
      <span (click)="showQuestions=true; createCharacter(characterName.value)" class="continue user-action">Continue</span>
    </div>
  </div>

  <div *ngIf="showQuestions">
    <div *ngFor="let question of questions">
      <div *ngIf="question.id === questionIncrementer">
        <h3 id="{{question.id}}">{{question.question}}</h3>
          <ul class="choices">
            <li *ngFor="let answer of question.answers" (click)="updateStats(player, answer.str, answer.int, answer.char); nextQuestion(questionIncrementer)" class="user-action">{{answer.answer}}</li>
          </ul>
      </div>
    </div>
  </div>

  <div *ngIf="questionIncrementer > questions.length">
    <h3>Are you ready to wake up?</h3>
    <span class="continue user-action" (click)="updateStats(player, 0, 2, 0); transitionEffect=true; startGame(player);">Yes</span>
    <span class="continue user-action" (click)="updateStats(player, 0, 0, 2); transitionEffect=true; startGame(player);">No</span>
  </div>
</div>
