<div class="container-fluid">
  <h1>EDITOR</h1>

  <h2>ADD SCENE</h2>
  <div id="new-scene">
    <label>title:</label>
    <input #title type="text"><br>
    <label>text: </label><br>
    <textarea #text rows="8" cols="80"></textarea>
    <button (click)="addScene(title.value, text.value); text.value=''; title.value=''" type="button">add scene</button>
  </div>

  <h2>SCENES</h2>
  <label>jump to scene</label>
  <select class="btn" (change)="onChange($event.target.value)">
    <option value="top" selected="selected">top</option>
    
    <option *ngFor="let scene of scenes | async" value={{scene.title}}>{{scene.title}}</option>


  </select>
  <div class="scene" *ngFor="let scene of scenes | async">
    <app-edit-scene (playerUpdate)="demoScene($event)" [sceneId]="scene.$key"></app-edit-scene>
  </div>
</div>
