<div class="container-fluid">
  <h1>EDITOR</h1>

  <h2>ADD SCENE</h2>
  <div id="new-scene">
    <label>title:</label>
    <input #title type="text"><br>
    <label>text: </label><br>
    <textarea #text rows="8" cols="80"></textarea>
    <button (click)="addScene(title.value, text.value); text.value=''; title.value=''" type="button">add scene</button>
  </div>

  <h2>SCENES</h2>
  <div class="scene" *ngFor="let scene of scenes | async">
    <app-edit-scene [scene]="scene"></app-edit-scene>
  </div>
</div>
