<h1>EDITOR</h1>

<div id="new-scene">
  <h2>ADD SCENE</h2>
  <label>title:</label>
  <input #title type="text"><br>
  <label>text: </label><br>
  <textarea #text rows="8" cols="80"></textarea>
  <button (click)="addScene(title.value, text.value); text.value=''; title.value=''" type="button">add scene</button>
</div>

<h2>SCENES</h2>
<div class="scene" *ngFor="let scene of scenes">
  <h3>{{scene.id}} - {{scene.title}}</h3>
  <p>{{scene.text}}</p>

  <div *ngIf="scene.choices.length > 0">
    <hr>
    <h3>choices:</h3>
    <ul>
      <li *ngFor="let choice of scene.choices">{{choice.text}}</li>
    </ul>
  </div>

  <hr>
  <h3>ADD CHOICE</h3>
  <label><strong>choice</strong></label><br>
  <input #cText type="text"><br>
  <label><strong>success</strong></label><br>
  <label>text:</label>
  <input #success type="text">
  <label>scene</label>
  <select #successChoice>
    <option *ngFor="let scene of scenes" value="">{{scene.id}}</option>
  </select><br>
  <label><strong>failure</strong></label><br>
  <label>text:</label>
  <input #fail type="text">
  <label>scene</label>
  <select #failChoice>
    <option *ngFor="let scene of scenes" value="">{{scene.id}}</option>
  </select>
  <button (click)="addChoice({
    scene: scene.id,
    text: cText.value,
    success: success.value,
    successId: successChoice.selectedOptions[0].text,
    fail: fail.value,
    failId: failChoice.selectedOptions[0].text
  })" type="button">add choice</button>
</div>
