<h1>admin</h1>
<p>
  <strong>component routerlink list:</strong><br>
  <em>(add links here with the attribute</em> routerLink="your-route-path-here" <em>to any route you create</em>)
</p>
<ul>
  <li><a routerLink="">admin</a></li>
  <li><a routerLink="scene/-Kn5HfwdeyGD08eHUTnU">Test Journey</a></li>
  <li><a routerLink="editor">editor</a></li>
  <li><a routerLink="intro">intro</a></li>
</ul>

<input #resume placeholder="Enter character id">
<button (click)="collectId(resume.value)">Continue</button>
