<div class="animation-container">

  <div *ngIf="currentScene?.state === 'showing'">
    <h3>{{currentScene?.text}}</h3>
    <ul *ngIf="currentScene?.choices" class="choices">
      <li class="user-action" (click)="makeChoice(choice)" *ngFor="let choice of currentScene.choices">{{choice.text}}</li>
    </ul>
  </div>

  <div *ngIf="currentScene?.state === 'resolved'">
    <h3>{{currentScene.resolution.text}}</h3>
    <span (click)=" nextScene(currentScene.resolution.id)" class="user-action">Continue</span>
  </div>

  <div id="dev-footer">
    <a href="/editor">editor</a>
  </div>
</div>
